<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
<body>
    <div>
        <form action="/subject/add" method="POST"> 
            <label>Subject Name</label><br>
            <input type="text" name="subjectName"><br><br>
            <input type="submit" value="Submit">
        </form>
        <a href="/subject">
            <input type="submit" value="Cancel">
        </a>
    </div>
</body>
</html>