<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/navbarStudent.ejs') %>
    <div>
        <h1>WELCOME Murid <%= name %></h1>
        <h5>Bimbel Online sederhana dari hati!</h5>
    </div>
</body>
</html>