<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/navbarTeacher.ejs') %>
    <div>
        <h1>Students in This Class</h1>
    <table border>
        <tr>
          <th>Name</th>
        </tr>
        <% data[0].Students.forEach(el => { %>
        <tr>
            <td><%= el.name %></td>
        </tr>
        <% }) %>
      </table>
    </div>
</body>
</html>