<div>
    <a href="/">HOME</a> | 
    <a href="/subject/">View Subject</a> | 
    <a href="/schedule/add">Add Schedule</a> |
    <a href="/schedule/teacher">View Schedule</a> |
    <a href="/login/logout">Logout</a>
</div>
